name: Update README cards

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate top-langs card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=RYSH06&layout=compact&card_width=320&langs_count=5&theme=synthwave&hide_border=false&count_private=true
          path: profile/top-langs.svg
          token: ${{ secrets.MY_PAT }}

      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=RYSH06&hide_title=false&hide_rank=false&show_icons=true&include_all_commits=true&count_private=true&disable_animations=false&theme=synthwave&locale=en&hide_border=false
          path: profile/stats.svg
          token: ${{ secrets.MY_PAT }}

      - name: Commit cards
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push
